snippet link
	[${2:$1}](${1:http://conanchou.github.com})${3}
snippet code
	``` ${1:python}
	${2}
	```
	
	${3}
snippet kbd
	<kbd>${1:Shift}</kbd>${2}
snippet image
	![${3:$1}](${1:http//conanchou.github.com} ${2:"option title"})${4}
snippet more
	<!--more-->${1}
